/* google font */
* {
  /* font-family: "Inter", sans-serif; */
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* for text color */
.textcolor {
  color: #1EA74A;
}
.textlightgreen{
  color: #008C87;

}
.textgrey {
  color: #515151;
}

.textcolorblue {
  color: #103054;
}
.lightgreen{
  color: #07B6AF;
}
/* for background color */
.bg_green {
  background-color: #1EA74A;
}
/* border color */
.borderlightgreen{
  border: 1px solid #07B6AF;
}
.boxwidth {
  /* position: absolute; */
  width: 359px;
  height: 517px;
  top: 157px;
  /* left: 781px; */
  gap: 25px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.borderlightgreen{
border : 1px solid #07B6AF;
}
.bordergreen{
border: 1px solid #1EA74A;
}
/* font size css */
.font14px{
  font-size: 14px;
}

.btnhovergrey:hover{
  background-color: rgb(81, 81, 81,0.1);
  color: #fff;
  border-radius: 14px;
}

.tab_dashboard_size{
  height: 159px;
  width: 284.19px;
}
.otpinput::-webkit-inner-spin-button,
.otpinput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
